.buttonBellow {
  bottom: 0% !important;
}

.store-row {
  padding: 2em 1.5em !important;
}

.store-body {
  position: relative;
  padding: 2em;
  background-image: url("img-7.svg");
}
.store-container {
  position: relative;
  background: #fff;
  padding: 1em;
}
.nopadding {
  padding: 0.5em !important;
}
.curved {
  padding-left: 2.5em !important;
  padding-right: 2.5em !important;
  border-radius: 50px !important;
}
.logo-img{
  width: 100px !important;
  padding-bottom: 1em;
}
.content {
  padding: 1em;
  padding-left: 2em !important;
}
.details-title {
  font-size: 0.85em;
  font-weight: 700;
}
.details-content {
  font-size: 0.8em;
}
.d-title {
  padding-top: 1em;
  font-size: 20px;
}
.b-name {
  font-weight: 700;
  font-size: 20px;
}
.close-btn-pd{
  padding: 0em !important;
}
.image-slider {
  position: relative;
  width: 450px;
  height: 450px;
}

.mt {
  margin-top: 10em;
}

.scrollImages {
  overflow-y: scroll !important;
  height: 500px;
  overflow-x: hidden;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollImages::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollImages {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.small-Image {
  background-repeat: no-repeat;
  width: 100px !important;
  height: 100px !important;
  margin-bottom: 0.5em;
}

.custom-btn {
  background-color: #e66b60 !important;
  color: #ffffff !important;
  font-size: 20px !important;
  width: 206px;
  height: 48px;
}

.rsis-image {
  background-size: contain !important;
  background-repeat: no-repeat !important;
}

.close-btn {
  font-size: 40px;
  position: absolute;
  font-weight: 700 !important;
  color: #bf4d48 !important;
  cursor: pointer !important;
  margin-left: 30px;
  margin-top: -20px;
}

.bg- {
  background-image: "./img-7.css";
}

@media screen and (min-width: 320px) and (max-width: 900px) {
  .content {
    padding: 0 !important;
    margin: 0 !important;
  }
  .store-body {
    position: relative;
    padding: 2em;
  }
  .store-container {
    padding: 0;
    height: 90vh !important;
  }
  .small-Image {
    background-repeat: no-repeat;
    width: 70px !important;
    height: 70px !important;
  }
  .image-slider {
    position: relative;
    width: 280px;
    height: 280px;
  }
  .details-title {
    font-size: 0.5em;
    font-weight: 700;
  }
  .details-content {
    font-size: 0.4em;
  }
  .d-title {
    padding-top: 0.5em;
    font-size: 10px;
  }
  .b-name {
    font-size: 15px;
    font-weight: 700;
  }
  .custom-btn {
    font-size: 10px !important;
    width: 106px;
    height: 28px;
  }

  .close-btn {
    font-size: 25px;
    margin-left: 20px;
  }
}
