
.roundedButton{
    margin-right: 4em;
    border-radius: 100%;
    height: 70px; 
    width: 70px; 
    background-color: #696565;

}
.roundText{
    margin: 0.3em;
    position: absolute;
    top: 100%;
}