
.custom-modal{
    width: 1000px;
}
.rotate-modal{
    height: 100px; 
    background: #fff;
}

@media screen and (min-width: 320px) and (max-width: 900px){
    .modals{
        width: 100vw !important;
        height: 100vh !important;
        padding: 0 !important;
        margin: auto !important;
        overflow-y: hidden !important;
    }
    .custom-modal{
        max-width: 80% !important;
        max-height: 100% !important;
        height: 100%;
        margin: auto !important;
        position: fixed;
    }
    .rotate-modal{
        height: 100vh;
        background: #fff;
        margin: auto;
        padding: 50% 0;
    }
    .rotate-noti{
        text-align: center;
        padding: 50% 1em;
    }
}

