#launchContainer {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#launchContainer > div {
  text-align: center;
}

#launchContainer > div > button {
  margin: 0;
}
