
.webContent{
  height: 100vh;
  width: 100vw;
}
#container{
  height: 100%;
}
#view{
  display: initial !important;
  position: fixed !important;
  width: 100%;
  height: 100%;
}
#notification{
  display: none !important;
}
/* #container { display:block; } */
/* @media only screen and (min-width: 320px) and (max-width: 767px) and (orientation:portrait){
  #container {
    height: 100vw;
    width: 100vh;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
    transform-origin: bottom left;
    margin-top: -100%;
  }
}

@media screen and (min-width: 320px) and (max-width: 767px) and  (orientation:landscape){
 #container {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
    height: 100vw;
    width: 100vh;
  }
} */


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

i.icon.hidden {
  display: none;
}

#playButton {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transform: scale(5, 5);
}

.fullscreen {
  height: 100%;
}

video {
  cursor:none;
  /* position: fixed;  */
  /* right: 0; bottom: 0; */
  min-width: 100vh; 
  min-height: 100vh;
  /* z-index: -100; */
  width: 100% !important;
  height: 100% !important;
  object-fit: fill !important;
  background-size: fill !important;
  /* transform: translate(0%, -1%);  */
}

/* .small-view{
  width: 900px;
  height: 300px;
  border: 2px solid #222;
} */
.logobacking {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  align-items: center;
  background-color: rgb(250, 250, 250);
  border-radius: 50% 50%;
  width: 160px;
  height: 160px;
}

.play {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  margin: 5px;
  width: 64px;
  height: 64px;
  fill: black;
}

.stopped {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  margin: 5px;
  width: 44px;
  height: 44px;
  fill: #9e9e9e;
}

.logo {
  order: 0;
  flex: 1 1 auto;
  align-self: auto;
  margin: 5px;
  width: 128px;
  height: 128px;
}
.logo path {
  stroke-dasharray: 315;
  stroke-dashoffset: 315;
  animation: dash 1.5s alternate infinite;
  stroke: #9e9e9e;
  stroke: width 1.2px;
  fill: white;
}

.logo g {
  animation: fill-in 1.5s 1.5s alternate infinite;
  fill-opacity: 1;
}

@keyframes dash {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes fill-in {
  to {
    fill-opacity: 1;
  }
}

.hidden {
  display: none !important;
}
.nav-bar{
  position: relative;
}
.siteLogo{
  position: absolute;
  width: 100px;
  top: 0;
  left: 0;
}
.closeLogo{
  position: absolute;
  width: 40px;
  height: 40px;
  top: 10px;
  right: 10px;
}
.bottomButtons{
  display: flex;
  position: absolute !important;
  flex-direction: row !important;
  top: 80%;
  left: 75%;
}

.form-view{
  padding: 3em;
  background-color: #fff;
}
.text-danger{
  color: red;
}
@media screen and (min-width: 320px) and (max-width: 900px) and  (orientation:landscape){
  .bottomButtons{
    display: flex !important;
    /* flex-direction: column; */
    flex-direction: column-reverse !important;
    width: fit-content !important;
    top: 10%;
    left: 90%;
  }
}
@media screen and (min-width: 320px) and (max-width: 700px) and  (orientation:portrait){
  #view{
    display: none !important;
  }
  #notification{
    display: block !important;
  }
}