
#notification{
    display: none !important;
}

#view{
    position: relative;
    height: calc(100vh + 1px);
    width: 100%;
    /* overflow: hidden !important; */
}
.nav-bar{
  position: relative;
}
.siteLogo{
  position: absolute;
  width: 100px;
  top: 0;
  left: 0;
}

@media screen and (min-width: 320px) and (max-width: 700px) and  (orientation:portrait){
    #view{
      display: none !important;
    }
    #notification{
      display: block !important;
    }
  }