html {
  height: 100%;
  width: 100%;
  /* border: 4px solid #000; */
}
body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  height: 100%;
  /* background-color: #000; */
  /* width: 100; */
  overflow: hidden !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@supports(padding:max(0px)) {
  body, header, footer {
      padding-top: min(0vmin, env(safe-area-inset-top));
      padding-bottom: min(0vmin, env(safe-area-inset-bottom));
      padding-left: min(0vmin, env(safe-area-inset-left));
      padding-right: min(0vmin, env(safe-area-inset-right));
  }
}